body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-width: 1300px;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


header>.telephone-bar
{   
    
    height: 50px;
    line-height: 50px;
    color:white;
    width: 100%;
    background-color: #024090;
    font-weight: bold;
    font-size: 20px;
    color:#fefefe;
    text-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 1);
    font-family: Montserrat;
    position: fixed;
    top:0px;
    z-index: 100;
}
.email
{
    position: absolute;
    margin-left: 10%;
    display: block;
}
.email>a
{
    text-decoration: none;
    color: #fefefe;
}
.email>a:hover
{
    cursor: pointer;
    color:#ddd;
}

.telephone
{
    margin-left: 70%;
    display: block;
    width: 350px;
}
.telephone:hover
{
    color: #ddd;
    cursor: pointer;
}
.header-bar
{
    margin-top: 50px;
    width: 100%;
    height: 110px;
    line-height: 110px;
    font-size: 18px;
    background-color:rgb(8, 93, 173);
    color: white;
}

header>section>nav
{
    width: 600px;
    
    margin-left: 55%;
    
    
}
header>section>nav>ul>li
{
    list-style-type: none;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.2s ease-in-out;
    
}

header>section>nav>ul>li>a
{
    text-decoration: none;
    display: block;
    widows: 100px;
    height: 40px;
    color: inherit;
}
header>section>nav>ul>li:hover
{
    color: white;
    background-color:#2172db;
    cursor: pointer;
}


header>section>nav>ul>li:hover>ul
{
    display: block;
   
}



.hover-menu
{
    display:none;
    position: absolute;
    background-color: rgba(8, 93, 173,0.8);
    z-index: 300;
    list-style-type: none;
    padding: 0;
    width: 250px;
}
.hover-menu>li
{
    text-align: left;
    color: #fff;
    
}
.hover-menu>li:hover
{
    background-color: #8CC739;
    color: white;
}
.hover-menu>li>a
{
    color: inherit;
    display: block;
    padding-left: 20px;
    font-size: 16px;
    text-decoration: none;
}

.logo
{
    position: absolute;
    font-size: 50px;
    color: inherit;
    text-decoration: none;
    margin-left: 5%;
    
}

main
{
    min-height: 400px;
    width: 1200px;
}


footer
{
    width: 100%;
    height: 300px;
    background-image: url("img/bck.jpg");
    position: relative;
    margin: 0;
    bottom: 0px;
    text-align: center;
    display: block;
}
footer>section
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 55, 136, 0.8);
}

.white
{
    color:#fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}


footer>section>section
{
    width: 250px;
    height: 250px;
    display: inline-block;
    vertical-align:top;
    margin-left: 100px;
    font-size: 14px;

}
footer>section>section:first-child
{
    margin: 0;
}

footer>section>section>h4
{
    font-size: 25px;
    color: #ddd;
}

.footer-onas
{
    margin: auto;
    color: white;
}
.footer-onas>p
{
    text-align: justify;
    padding-right:15px;
}
.footer-onas>p>a
{
    color: #ddd;
}
.footer-onas>p>a:hover
{
    color: #fff;
}


.footer-contact>ul>li
{
    text-align: left;
    margin-top: 10px;
    list-style-type: none;
    color:#bbb;
}

.footer-contact>ul>li>a
{
    color:#fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-decoration: none;
   
}

.footer-logo
{
    background-image:url("img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 151px;
    position: relative;
    top:50px;
    
}
.footer
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom:0px;
    background-color: #0a3d7e;
    color:dimgray;
    font-size: 12px;
}

