body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


header>.telephone-bar
{   
    
    height: 50px;
    line-height: 50px;
    color:white;
    width: 100%;
    background-color: #085DAD;
    font-weight: bold;
    font-size: 20px;
    color:#fefefe;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-family: Montserrat;
    position: fixed;
    top:0px;
    z-index: 100;
}
.email
{
    position: absolute;
    margin-left: 10%;
    display: block;
    font-size: inherit;
}
.email>a
{
    text-decoration: none;
    color: #fefefe;
}
.email>a:hover
{
    cursor: pointer;
    color:#ddd;
}

.telephone
{
    margin-left: 70%;
    display: block;
    width: 350px;
    font-size: inherit;
}
.telephone:hover
{
    color: #ddd;
    cursor: pointer;
}
.header-bar
{
    margin-top: 50px;
    width: 100%;
    height: 110px;
    line-height: 110px;
    font-size: 18px;
}

header>section>nav
{
    width: 600px;
    color: #0850AD;
    margin-left: 55%;
    
    
}
header>section>nav>ul>li
{
    list-style-type: none;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.2s ease-in-out;
    color: #0850AD;
    position: relative;
    
}
header>section>nav>ul>li>span
{
    cursor: default
}
header>section>nav>ul>li>a
{
    text-decoration: none;
    display: block;
    widows: 100px;
    height: 40px;
    color: inherit;
    
    
}
header>section>nav>ul>li:hover
{
    color: white;
    background-color:#8CC739;
    cursor: pointer;
}

header>section>nav>ul>li:first-child
{
    background-color:#085DAD;
    color: white;
}


header>section>nav>ul>li:hover>ul
{
    display: block;
   
}



.hover-menu
{
    display:none;
    position: absolute;
    background-color: rgba(255,255,255, 0.8);
    z-index: 300;
    list-style-type: none;
    padding: 0;
    width: 250px;
    border: 1px solid #eee;
}
.hover-menu>li
{
    text-align: left;
    color: #085DAD;
    
}
.hover-menu>li:hover
{
    background-color: #8CC739;
    color: white;
}
.hover-menu>li>a
{
    color: inherit;
    display: block;
    padding-left: 20px;
    font-size: 17px;
    text-decoration: none;
}


.logo
{
    position: absolute;
    font-size: 50px;
    margin-left: 10%;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(230, 230, 230, 1);
    display: n;
}

.background
{
    width: 100%;
    height: 550px;
    line-height: 550px;
    background-image: url("img/bck.jpg");
    background-attachment: fixed;
    position: relative;
    
}
.mainphoto
{
    width: 70%;
    min-width: 1200px;
    height: 480px;
    margin: auto;
    background-image:url("img/water-90781_960_720.png");
    background-size: cover;
    position: relative;
    top:35px;
    background-position: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.small-container
{
    height: 350px;
    position: absolute;
    top:35px;
    left: 35px;
    width: 47%;
    color: #e4e5fc;
}
.small-container>h1
{
    position: relative;
    top: 0;
    line-height: 40px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}
.napis
{
    font-size: 25px;
}
.small-container>h1>p
{
    
    line-height: 20px;
    width: 70%;
    margin-top: 50px;
    font-weight: normal;
    font-size: 15px;
    font-family: "Open Sans";
}
.contact-button
{
    width: 270px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border: 1px solid #547822;;
    border-radius: 5px;
    background-color: #8CC739;
    font-size: 23px;
    margin-top:108px;
    display: block;
    transition: 0.2s ease-in-out;
    color: white;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0, 80, 0, 1);
}
.contact-button:hover
{
    transform: scale(0.99);
    background-color: #76b71c;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}


main{
    width: 70%;
    margin: auto;
    text-align: center;
}
.icon-bar-1
{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.tile
{
    width: 24%;
    max-width: 280px;
    min-width: 200px;
    text-align: center;
    position: relative;
    display: inline-block;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 70px;
    border-radius: 10px;
    vertical-align:top;
    text-decoration: none;
    color: #000;
    
}
.tile:hover
{
    transform: scale(0.96);
    background-color: #ddd;
}
.tile-icon
{
    width: 40px;
    height: 40px;
    background-color: #085DAD;
    border: solid 1px #03294c;;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    
    
}

.mechaniczne
{
    width: 100%;
    height: 100%;
    background-image: url(img/png/mechanaic.png);
    background-size: cover;
}

.TV
{
    width: 100%;
    height: 100%;
    background-image: url(img/png/camera.png);
    background-size: cover;
}
.p-zew
{
    width: 100%;
    height: 100%;
    background-image: url(img/png/outsite.png);
    background-size: cover;
}

.p-wew
{
    width: 100%;
    height: 100%;
    background-image: url(img/png/inside.png);
    background-size: cover;
}
.ozonowanie
{
    width: 100%;
    height: 100%;
    background-image: url(img/png/ozone.png);
    background-size: cover;
}
.doradztwo
{
    width: 100%;
    height: 100%;
    background-image: url(img/png/advice.png);
    background-size: cover;
}
.serwis
{
    width: 100%;
    height: 100%;
    background-image: url(img/png/service.png);
    background-size: cover;
}
.tile>header>h1
{
    font-size: 30px;
    color:#085DAD;
    font-weight: 700;
     min-width: 220px;
    font-family: 'Source Sans Pro', sans-serif;
   
}
.tile>article
{
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
}

footer
{
    width: 100%;
    height: 300px;
    background-image: url("img/bck.jpg");
    position: relative;
    margin: 0;
    bottom: 0px;
    text-align: center;
}

.white
{
    color:#fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

footer>section
{
    background-color: rgba(0, 55, 136, 0.8);
    height: 100%;
    width: 100%;
}


footer>section>section
{
    width: 250px;
    height: 250px;
    display: inline-block;
    vertical-align:top;
    margin-left: 100px;
    font-size: 14px;

}
footer>section>section:first-child
{
    margin: 0;
}

footer>section>section>h4
{
    font-size: 25px;
    color: #ddd;
}

.footer-onas
{
    margin: auto;
    color: white;
}
.footer-onas>p
{
    text-align: justify;
    padding-right:15px;
}
.footer-onas>p>a
{
    color: #ddd;
}
.footer-onas>p>a:hover
{
    color: #fff;
}




.footer-contact>ul>li
{
    text-align: left;
    margin-top: 10px;
    list-style-type: none;
    color:#bbb;
}

.footer-contact>ul>li>a
{
    color:#fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-decoration: none;
   
}

.footer-logo
{
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height:151px;
    margin-top: 50px;
}
.footer
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom:0px;
    background-color: #0a3d7e;
    color:dimgray;
    font-size: 12px;
    text-align: center;
}

.licznik
{
    position: absolute;
    bottom: 10px;
    right: 30px;
    color:#fff;
    font-size: 14px;
}
.licznik>a
{
    cursor:default;
    text-decoration: none;
    color: #fff;
    
}


@media screen and (min-width:980px) and (max-width:1300px)
{   
    
    .telephone
    {
        margin-left: 60%;
    }
    
    .logo
    {
        display: block;
        margin: 0;
        position: static;
        line-height: 100px;
    }
    header>section>nav
    {
        display: block;
        margin: 0;
        position: static;
        line-height: 50px;
        margin: auto;
    }
    header>section
    {
        text-align: center;
        height: auto;
    }
    .background
    {
        top:120px;
        height: 610px;
    }
    
    .mainphoto
    {
        min-width: 2px;
        width: 100%;
        height: 540px;
    
    }
    main
    {
        margin-top: 220px;
        width: 80%;
    }
    .footer-logo
    {
        position: relative;
        top:30px;
        margin-top: 0;
    }
    
}

@media screen and (min-width:480px) and (max-width:980px)
{
    body
    {

    }
    
    
    .telephone
    {
        margin: 0;
        position: absolute;
        right: 0px;
        font-size:17px;
        
        
    }
    .email
    {
        margin-left: 10px;
        font-size:17px;
    }
    
    .logo
    {
        display: block;
        margin: 0;
        position: static;
        line-height: 100px;
    }
    header>section>nav
    {
        display: block;
        margin: 0;
        position: static;
        line-height: 50px;
        margin: auto;
    }
    header>section
    {
        text-align: center;
        height: auto;
    }
    .background
    {
        top:120px;
        height: 600px;
    }
    
    .mainphoto
    {
        min-width: 2px;
        width: 100%;
        height: 530px;
    
    }
    .small-container
    {
        width: 80%;
    }
    main
    {
        margin-top: 200px;
        width: 80%;

    }
    footer
    {
        height: auto;
        padding-bottom: 40px;
    
    }
    .footer-logo
    {
        width: 100%;
        margin: -20px auto 20px auto;
        display: block;
    }
    .footer
    {
        font-size: 11px;
    }
    

    footer>section>section
{
    max-width: 250px;
    width: 46%;
    height: 260px;
    margin:0;
    
}
    
}

@media screen and (max-width:480px)
{
    
    header>.telephone-bar
{   
   
    width: 100%;
    height:auto;
    font-size: 17px;
    padding: 10px;
    display: block;
    position: static;
    min-height: auto;
    
}
    
    .email
{
    display: none;
    width: 100%;
    margin: 0;
    text-align: center;
    position: static;
    font-size: inherit;
    line-height: normal;
    
}
.email>a
{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 20px;
    font-size: inherit;
    
}
.email>a:hover
{
    cursor: pointer;
    color:#ddd;
    background-color: #0a3d7e;
}

.telephone
{
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    position: static;
    font-size:inherit;
    line-height: normal;;
    height: auto;
    
}
    .header-bar
{
    min-height: 100px;
    margin: 0;
}
.logo
{
    width: 100%;
    text-align: center;
    position: static;
    margin:0 0 0 0;
}
header>section>nav
{
    width: 100%;
    margin:0;
}
header>section>nav>ul
{
    margin: 0;
    padding: 0;
}

    
header>section>nav>ul>li
{
    
    display: block;
    width: 100%;
}
.hover-menu
{
    background-color: #fff;    
}

header>section>nav>ul>li:last-child
{
    border-bottom: 5px solid #085DAD;
}


.background
{
    width: 100%;
    height: 320px;
    line-height: 320px;
    background-image: none;
    position: relative;
    top:205px
    
    
}
.mainphoto
{

    width: 100%;
    min-width: 2px;
    height: 0;
    background-image: none;
}

.small-container
{
    top:-35px;
    left: 0;
    width: 100%;
    text-align: center;
    background-image: url("img/bck.jpg");
    min-height: 240px;
    
}

.small-container>h1>p
{
    width: 100%;
}
.small-container>h1
{
    font-size: 30px;
    line-height: 30px;
}
.contact-button
{
   margin: auto;
}

    main
    {   
        margin-top: 290px;
        width: 100%;
    }

.icon-bar-1
{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}
.icon-bar-2
{
    text-align: center;
    margin-bottom: 120px;
}

.tile
{
    width: 70%;
    max-width: 480px;
    min-width: 200px;
    display: inline-block;
    margin:30px auto 0 auto;
    background-color: #ddd;
    padding: 5px 0;
}
.tile:hover
{
    background-color: #bbb;
}

.tile>header
{
    margin-top: -20px;
}

.tile>article
{
    margin-top: -25px;

}
    footer
{
    height: 530px;
    margin: 0;
}


footer>section>section
{
    width: 46%;
    height: 260px;
    margin:0;
    
}


.footer-contact>ul>li
{
    text-align: left;
    margin-top: 10px;
    list-style-type: none;
    color:#bbb;

}
.footer-contact>ul
    {
        padding:0;
    }



.footer-logo
{
    width:250px;
    margin: 40px auto 0px auto;
    display: block;
    
    
}
.footer
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom:0px;
    background-color: #0a3d7e;
    color:dimgray;
    font-size: 12px;
    font-size: 9px;
}
    

}



























