#formularz {
        width:460px; /
        margin-top:20px;
}



#formularz textarea,
#formularz input {
	padding:5px; 
	border-radius:3px; 
	border:1px solid #ccc; 
	margin-bottom:25px;
	width:100%; 
    min-height: 30px;
    font-size: 16px;
}
#formularz textarea:focus,
#formularz input:focus
{
    border: 2px solid #138bfc;
}

#formularz input#submit {
	width:155px;
	cursor:pointer; 
	margin-bottom:0px;
    background-color: #fff;
    border: 2px solid #138bfc;
    font-weight: 700;
    font-size: 20px;
    color:#085DAD;
    transition: 0.3s ease-in-out;
    
}
#formularz input#submit:hover
{
    background-color: #085DAD;
    border-color: #085DAD;
    color:#fff;
}




#formularz p.copy {
	color:#555555; /* ustawiamy kolor czcionki */
	margin-bottom:0px; /* resetujemy margines dolny */
	font-size:12px; /* ustawiamy rozmiar czcionki */
	text-align: center; /* wyśrodkowywujemy tekst */
}

#formularz p.copy a {
	color:#555555;/* ustawiamy kolor czcionki */ 
	text-decoration: none; /* usuwamy podkreślenie linku */
	font-weight:bold; /* pogrubiamy czcionkę */
} 
#formularz textarea
{
    height: 200px;
}
#send
{
    
}
